ul {
  padding-bottom: 20px;
  padding-left: 0 !important;
  text-align: left;
}

input {
  width: 100%;
  height: 40px;
  margin: 5px 0 !important;
  border-radius: 5px;
}

select {
  width: 100%;
  height: 40px;
  margin: 5px 0 10px 0 !important;
  border-radius: 5px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000;
  font-family: 'Droid Sans', sans-serif;
}

.App-header {
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-toggler {
  background-color: #E3D61D !important;
}


.navMenu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}


.navbar-nav, .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar-nav .nav-link {
  color: white !important;
}


.navbar-nav.d-lg-flex {
  width: 300px;
}


.container {
  min-height: 80vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.row{
  filter: drop-shadow(0 0 250px #E3D61D88);
  background: rgba(0, 0, 0, 0) !important;
}

.col-md-4 {
  height: 614px;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0) !important;
}

.p-3 {
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.7);
  display: grid;
  align-content: end;
  height: 100%;
  border-radius: 10px;
  color: white;
}

.character-data {
  padding: 40px 4px;
}

.char-list {
  font-size: 1.1rem;
  line-height: 100%;
  margin-bottom: 8px;
  list-style-type: none;
}

.btn.edit-button {
  padding: 8px 50px;
  border-radius: 7px;
  background-color: #E3D61D;
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;

}

.btn.edit-button:hover, .btn.edit-button:focus {
  background-color: #E3D61D;
  color: #000;
  box-shadow: 0 0 10px #E3D61D88;
}

.btn.close-button {
  padding: 8px 30px;
  border-radius: 7px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn.close-button:hover, .btn.close-button:focus {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0 0 10px #ffffff;
}

.popup {
  position: fixed;
  z-index: 999;
  top: 20px;
  left: calc(50% - 250px);
  background-color: #000;
  color: #fff;
  filter: drop-shadow(0 0 50px #E3D61D88);
  padding: 50px;
  border-radius: 10px;
  width: 500px;
}

.popup-overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 80%;
}

.popup label {
  text-align: left;
  display: block;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


@media only screen and (min-width: 992px) {
  #navbarNav{
    display: none !important;
  }
}

/* Adjust layout for mobile devices */
@media (max-width: 600px) {
  .popup {
    width: 100%;
    left: 0;
    padding: 20px;
  }
}